.sidebar-nav {
    margin-top: 10px;
    padding: 0;
    list-style: none;
}
.content {
    margin-top: 10px;
    padding: 0;
    list-style: none;
}
.comment {
    margin-top: 10px;
    padding: 10px;
    list-style: none;
    font-size: smaller;
}