{% extends "miniblog/base.html" %}
{% block title %}
    Post: Miniblog
{% endblock %}
{% block content %}
    <h3>Post by {{ object.blog_user.user.username }}</h3>
    <p></p>
    <h3>{{ object.post_title }}</h3>
    <p>{{ object.post_text }}</p>
    <h6>Comments:</h6>
    <ul>
        {% for comment in object.comment_set.all %}
            <li>
                <table>
                    <tr>
                        <td>{{ comment.blog_user.user.username }}</td>
                        <td>{{ comment.date_published|date:"H:i j/n/y" }}</td>
                    </tr>
                    <tr>
                        <td>{{ comment.comment_text }}</td>
                    </tr>
                </table>
            </li>
        {% endfor %}
    </ul>


    {% if user.is_authenticated %}
        <input type="button" onclick="location.href='{% url 'create_comment' pk=object.pk %}'"
               value="Add comment"></input>
    {% endif %}
{% endblock %}
